<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&display=swap" rel="stylesheet">
    <title>Google Based ChatBot</title>
</head>
<body>
    <div class='container'>
    <img class="chatbotImage" src="./New_logo.png" />
    <div id="chatWindow" class="chatbotOutputClass">
    <span id="chatbotOutput" >I am the hospital's know-it-all chatbot.How can I help you?</span>
    </div>
    <input id="chatbotInput" class="chatbotInput" />
    <input id="submitButton" type="submit" />
    <script src='./app.js'></script>
    </div>
</body>
</html>